@use './abstracts/mixins';
@use './abstracts/variables';
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-size: 1.6rem;
	font-family: variables.$font-body;
}

header {
	color: white;
	span {
		font-size: 1em;
	}
}

main {
	max-width: 600px;
	margin: 3rem auto;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	border: 2px solid indigo;
	border-radius: 1rem;
	color: white;
	background-color: indigo;
	background-image: linear-gradient(
		to right bottom,
		transparent,
		rgba(0, 0, 0, 0.35)
	);
}
