.output {
	border: 2px solid indigo;
	border-radius: 1rem;
	padding: 1rem;
	font-size: 2.4rem;
	margin-top: 3rem;
	color: indigo;
	background-color: white;
	// background-image: linear-gradient(
	// 	to right bottom,
	// 	transparent,
	// 	rgba(0, 0, 0, 0.35)
	// );
}
